.wrapper {
    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        margin-top: 30px;
        display: flex;
        align-items: flex-start;
        gap: 20px;

        .filter_wrap {
            flex: 0 0 250px;
        }

        .catalog_wrap {
            flex: 1;
            display: flex;
            flex-direction: column;

            .title {
                margin-bottom: 16px;
            }

            .cards_grid {
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
                gap: 25px;
                padding: 10px 0 50px;
            }
        }
    }
}
