.wrapper {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 16px;
    display: flex;
    gap: 40px;
}

.filter_desktop {
    flex: 0 0 300px;
    margin-top: 20px;
}

.catalog_wrap {
    flex: 1;
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 12px;
        margin: 20px 0;
        padding-bottom: 16px;
        border-bottom: 1px solid #eee;

        .title {
            font-size: 24px;
            font-weight: 600;
            margin: 0;
        }
        .found {
            color: #666;
            font-size: 14px;
        }
    }

    .cards_grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 25px;
        padding: 10px;
        padding-top: 32px;
        padding-bottom: 50px;

        @media (max-width: 1024px) {
            padding: 15px;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 12px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
            gap: 8px;
        }

        @media (max-width: 360px) {
            grid-template-columns: 1fr 1fr;
        }
    }
}

.mobile_filter_btn {
    display: none;
    position: sticky;
    top: 0;
    z-index: 99;
    background: white;
    padding: 16px;
    border-bottom: 1px solid #eee;
    font-size: 18px;
    font-weight: 600;
    align-items: center;
    gap: 8px;

    .filter_icon {
        font-size: 20px;
        color: var(--color-orange-sum);
        transform: rotate(90deg);
    }
}

.overlay {
    display: none;
}

.filter_mobile {
    display: none;
}

@media (max-width: 1024px) {
    .filter_desktop {
        display: none;
    }
    .mobile_filter_btn {
        display: flex;
    }

    .overlay {
        display: block;
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.5);
        z-index: 998;
    }

    .filter_mobile {
        position: fixed;
        top: 0;
        left: 0;
        width: 300px;
        max-width: 85vw;
        height: 100%;
        background: white;
        z-index: 999;
        overflow-y: auto;
        box-shadow: 8px 0 20px rgba(0, 0, 0, 0.15);
        animation: slideInLeft 0.3s ease-out;
        display: block; // теперь показываем твой Filter
    }

    .cards_grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }
}

@media (max-width: 640px) {
    .cards_grid {
        grid-template-columns: 1fr;
    }
    .header {
        // flex-direction: column;
        align-items: flex-start;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
