.wrapper {
    padding: 80px 0;
    background: #fff;

    @media (max-width: 768px) {
        padding: 30px 0;
    }
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
}

.title {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-text-dark);
    margin-bottom: 30px;

    @media (max-width: 768px) {
        font-size: 20px;
    }
}

.text_block {
    max-width: 600px;
    margin: 0 auto 50px auto;
}

.text {
    font-size: 16px;
    line-height: 1.6;
    color: var(--text-gray);

    @media (max-width: 768px) {
        font-size: 14px;
    }

    .company_name {
        font-weight: 700;
        color: var(--color-black);
    }
}

.stats_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: var(--container-width);
    margin: 0 auto;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    @media (max-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 0 10px;
    }

    // @media (max-width: 480px) {
    //     grid-template-columns: 1fr;
    // }
}

.stat_card {
    border: 1px solid var(--border-category);
    border-radius: 12px;
    padding: 32px 20px;
    background: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
        transform: translateY(-8px);
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
    }

    @media (max-width: 640px) {
        padding: 24px 16px;
    }
}

.icon_wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
    border: 2px solid var(--color-primary);
    border-radius: 50%;
    background: #f970151a;

    @media (max-width: 640px) {
        width: 50px;
        height: 50px;
    }
}

.icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.stat_value {
    font-size: 32px;
    font-weight: 700;
    color: var(--red);
    margin-bottom: 8px;
    line-height: 1;

    @media (max-width: 640px) {
        font-size: 18px;
    }
}

.stat_desc {
    font-size: 14px;
    color: var(--text-gray);
    line-height: 1.4;

    @media (max-width: 640px) {
        font-size: 13px;
    }
}
