@use "sass:color";

.wrapper {
    background: var(--color-bg-secondary);

    .container {
        max-width: var(--container-width);
        margin: 0 auto;

        .titles_btn {
            display: flex;
            justify-content: space-between;
            padding-top: 50px;
            margin: 10px;

            .title {
                font-size: 24px;
                color: var(--color-black);
                font-weight: 400;

                @media (max-width: 480px) {
                    font-size: 18px;
                }
            }

            .btn_all {
                border: 2px solid #f15027;
                background: none;
                padding: 10px;
                border-radius: 8px;
                font-size: 14px;
                font-family: var(--font-opensans-sm);
                color: var(--red);
                display: flex;
                align-items: center;
                gap: 10px;
                transition: background-color 0.2s ease;

                .icon {
                    font-size: 14px;
                }

                &:hover {
                    background-color: color.adjust(#f14f2717, $lightness: -4%);
                }
            }
        }

        .cards_grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
            gap: 25px;
            padding: 10px;
            padding-top: 32px;
            padding-bottom: 50px;

            @media (max-width: 1024px) {
                padding: 15px;
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 12px;
            }

            @media (max-width: 480px) {
                grid-template-columns: 1fr 1fr;
                gap: 8px;
            }

            @media (max-width: 360px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
