.auth {
    background: linear-gradient(90deg, rgba(248, 112, 23, 0.15) 0%, #eaeaea 50%, #2c313a4d 100%);
    margin-bottom: 50px;
    .auth_container {
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;

        .unauthorizedTitle {
            text-align: center;
            font-size: 55px;
            color: var(--color-black);
            font-weight: 600;
            margin-bottom: 24px;

            @media (max-width: 480px) {
                font-size: 32px !important;
            }
        }

        .loginButton_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 20px;

            .loginButton {
                background: transparent;
                padding: 10px 30px;
                border: 1px solid var(--border-support);
                background: var(--color-btn);
                border-radius: 10px;
                font-size: 15px;
                font-family: var(--font-opensans-r);
                font-weight: 500;
                color: #fff;
            }
        }
    }
}

.wrapper {
    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        margin-top: 20px;

        .cards_grid {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
            gap: 25px;
            padding: 10px;
            padding-top: 32px;
            padding-bottom: 50px;

            @media (max-width: 1024px) {
                padding: 15px;
                grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
            }

            @media (max-width: 768px) {
                grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
                gap: 12px;
            }

            @media (max-width: 480px) {
                grid-template-columns: 1fr 1fr;
                gap: 8px;
            }

            @media (max-width: 360px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}
