.wrapper {
    background: linear-gradient(90deg, rgba(248, 112, 23, 0.15) 0%, #eaeaea 50%, #2c313a4d 100%);
    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f150271a;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        .title {
            text-align: center;
            font-size: 55px;
            color: var(--color-black);
            font-weight: 600;
            margin-bottom: 24px;

            @media (max-width: 768px) {
                font-size: 36px;
            }
        }

        .sub_title {
            text-align: center;
            color: #7d7280;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;

            @media (max-width: 768px) {
                font-size: 16px;
            }
        }
    }
}

.content {
    max-width: var(--container-width);
    margin: 0 auto;

    .grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
        gap: 10px;
        padding: 10px;
        padding-top: 32px;
        padding-bottom: 50px;

        @media (max-width: 1024px) {
            // padding: 15px;
            grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
        }

        @media (max-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
            gap: 10px;
        }

        @media (max-width: 480px) {
            grid-template-columns: 1fr 1fr;
            gap: 8px;
        }

        @media (max-width: 440px) {
            grid-template-columns: 1fr;
        }
    }
}
