@keyframes pulse {
    0% {
        background-color: #ececec;
    }
    50% {
        background-color: #dadada;
    }
    100% {
        background-color: #ececec;
    }
}

.skeleton {
    animation: pulse 1.4s infinite ease-in-out;
    border-radius: 8px;
}

.skeletonSummary {
    background: #fff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title {
    @extend .skeleton;
    width: 120px;
    height: 24px;
    border-radius: 6px;
}

.table {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.text {
    @extend .skeleton;
    width: 140px;
    height: 18px;
}

.price {
    @extend .skeleton;
    width: 80px;
    height: 18px;
}

.totalBlock {
    display: flex;
    justify-content: space-between;
    margin-top: 4px;
}

.totalText {
    @extend .skeleton;
    width: 70px;
    height: 20px;
}

.totalPrice {
    @extend .skeleton;
    width: 100px;
    height: 22px;
}

.button {
    @extend .skeleton;
    width: 100%;
    height: 44px;
    border-radius: 10px;
}

.features {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.feature {
    @extend .skeleton;
    width: 160px;
    height: 18px;
}
