@keyframes pulse {
  0% { background-color: #ececec; }
  50% { background-color: #dbdbdb; }
  100% { background-color: #ececec; }
}

.skeleton {
  animation: pulse 1.4s infinite ease-in-out;
  border-radius: 8px;
}

.skeletonItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  margin-bottom: 20px;
}

/* Фото */
.image {
  @extend .skeleton;
  width: 90px;
  height: 90px;
  border-radius: 10px;
}

/* Контент */
.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.title {
  @extend .skeleton;
  height: 22px;
  width: 60%;
  border-radius: 6px;
}

.bottomRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.qty {
  @extend .skeleton;
  width: 70px;
  height: 28px;
  border-radius: 6px;
}

.price {
  @extend .skeleton;
  width: 90px;
  height: 22px;
  border-radius: 6px;
}

/* Кнопка удаления */
.deleteIcon {
  @extend .skeleton;
  width: 24px;
  height: 24px;
  border-radius: 6px;
}
