.wrapper {
    .container {
        max-width: var(--container-width);
        margin: 0 auto;

        .content {
            margin-top: 30px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 40px;

            .profileSection {
                border: 1px solid var(--border-support);
                padding: 26px;
                width: 320px;
                border-radius: 8px;

                .profile {
                    .profileHeader {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        margin-bottom: 40px;
                        position: relative;

                        &::after {
                            content: "";
                            position: absolute;
                            top: 65px;
                            left: 0;
                            right: 0;
                            // bottom: 10px;
                            height: 1px;
                            width: 100%;
                            background: #e5e7eb;
                        }

                        .avatar {
                            .icon_wrap {
                                background: #f970151a;
                                width: 48px;
                                height: 48px;
                                border-radius: 50%;
                                padding: 12px;

                                .icon_profileHeader {
                                    color: #f15027;
                                    font-size: 24px;
                                    text-align: center;
                                }
                            }
                        }

                        .userInfo {
                            .userName {
                                color: var(--color-black);
                                font-size: 15px;
                                margin-bottom: 5px;
                            }

                            .userEmail {
                                color: #6b7280;
                                font-size: 13.2px;
                                font-weight: 400;
                            }
                        }
                    }

                    .profile_navs {
                        display: flex;
                        flex-direction: column;
                        gap: 20px;
                        margin-bottom: 24px;

                        .profile_nav {
                            display: flex;
                            align-items: center;
                            gap: 12px;

                            .nav_link {
                                color: var(--color-black);
                                font-weight: 400;
                                font-size: 16px;
                            }
                        }
                    }

                    .btn {
                        padding: 10px 30px;
                        background: transparent;
                        width: 100%;
                        border: 2px solid var(--color-btn);
                        border-radius: 8px;
                        font-family: var(--font-opensans-sm);
                        font-size: 14px;
                        color: var(--red);
                        transition: 0.2s all;

                        &:hover {
                            background: #f970151a;
                        }
                    }
                }
            }
        }

        .mainContent {
            width: 100%;
        }

        .tabs {
            display: flex;
            margin-bottom: 25px;
            background: var(--color-bg-secondary);
            // justify-content: space-evenly;
            // align-items: center;
            border-radius: 8px;
            width: 100%;
        }

        .tab {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
            color: var(--color-black);
            font-family: var(--font-opensans-sm);
            margin-bottom: -1px;
            transition: color 0.2s;
            text-align: center;
            width: 100%;
            margin: 7px;
            border-radius: 8px;
        }

        .tab.active {
            border-bottom-color: var(--color-btn);
            color: var(--color-black);
            background: var(--color-white);
        }

        .tab:hover:not(.active) {
            color: var(--color-text-desc);
        }

        .tabContent {
            font: var(--font-S);
            color: var(--color-black);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            line-height: 1.6;
            padding: 15px;
            border-radius: 12px;
            border: 1px solid var(--border-support);
            min-height: 150px;
        }
    }
}
