.form {
    border: 1px solid var(--border-support);
    padding: 25px;
    border-radius: 10px;
    margin-bottom: 100px;
    background: var(--color-white);
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.075), 0 2px 4px -2px rgba(0, 0, 0, 0);
}

.title {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.desc {
    color: var(--text-gray);
    font-size: 14px;
    margin-bottom: 25px;
}

.toggleTabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toggleTab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    border: 1px solid var(--border-support);
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    background: var(--color-white);
}

.toggleActive {
    background-color: var(--color-btn);
    color: var(--color-white);
    border-color: var(--color-btn);
    font-family: var(--font-opensans-sm);
}

.toggleTab:not(.toggleActive) {
    color: var(--color-text-btn-orange);
    border-color: var(--color-btn);
    font-family: var(--font-opensans-sm);
}

.formGroup {
    margin-top: 20px;
}

.label {
    display: block;
    font-size: 14px;
    color: var(--color-black);
    margin-bottom: 8px;
}

.input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--border-support);
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: var(--font-opensans-r);
}

.submitButton {
    width: 100%;
    padding: 14px;
    background: var(--color-btn);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 25px;
    font-family: var(--font-opensans-sm);
}
