.wrapper {
    padding: 80px 0;
    // padding: 10px;
    background-color: var(--color-white);
}

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    text-align: center;
}

.main_title {
    font-size: 24px;
    font-weight: 400;
    font-family: var(--font-muller-r);
    color: var(--color-black);
    margin-bottom: 18px;
}

.subtitle {
    font-size: 16px;
    color: var(--text-gray);
    margin-bottom: 50px;
    // width: 150px;
    line-height: 28px;
}

.cards_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    padding: 10px;

    @media (max-width: 1024px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }

    @media (max-width: 480px) {
        grid-template-columns: 1fr 1fr;
        gap: 16px;
        padding: 0 10px;
    }
}

.card {
    display: flex;
    flex-direction: column;
    // gap: 20px;
    text-align: left;
    padding: 30px;
    background-color: var(--color-white);
    border: 1px solid var(--border-category);
    border-radius: 8px;
    transition: 0.2s all;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 100%;

    // &:hover {
    //     transform: scale(1.03);
    //     background: #f8f8f8;
    // }

    @media (max-width: 480px) {
        padding: 10px;
    }
}

.icon_wrap {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    margin-bottom: 20px;

    border-radius: 12px;
    background-color: #f970151a;
}

.icon {
    width: 24px;
    height: 24px;
}

.card_title {
    font-size: 18px;
    font-weight: 400;
    font-family: var(--font-opensans-r);
    margin: 0 0 10px;

    @media (max-width: 480px) {
        font-size: 16px;
        padding: 10px;
        padding-top: 0px;
        margin-bottom: 0;
    }
}

.card_desc {
    font-size: 14px;
    line-height: 1.6;
    color: var(--color-text-desc);
    width: 100%;

    @media (max-width: 480px) {
        font-size: 13px;
        padding: 10px;
    }
}
