.pagination_wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 40px;
    padding: 20px 0;
}

.pagination {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;

    @media (max-width: 768px) {
        padding: 0 10px;
    }
}