.formCard {
    background: var(--color-white);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.075), 0 2px 4px -2px rgba(0, 0, 0, 0);
    border: 1px solid var(--border-support);
    margin-bottom: 100px;
}

.backButton {
    background: transparent;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: var(--font-opensans-m);
}

.title {
    color: var(--color-black);
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 5px;
}

.subtitle {
    font-size: var(--font-size-S);
    color: var(--color-text-desc);
    margin-bottom: 25px;
}

.formGroup {
    margin-bottom: 20px;
}

.label {
    display: block;
    font-size: 14px;
    color: var(--color-black);
    margin-bottom: 8px;
}

.input {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid var(--border-support);
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
    font-family: var(--font-opensans-r);
    &:focus {
        border-color: var(--color-btn);
        outline: none;
    }
}

.toggleTabs {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.toggleTab {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 12px;
    border: 1px solid var(--border-support);
    border-radius: 10px;
    font-size: var(--font-size-S);
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s;
    background: var(--color-white);
    color: var(--color-text-btn-orange);
    font-family: var(--font-opensans-sm);
}

.toggleActive {
    background-color: var(--color-btn);
    color: var(--color-white);
    border-color: var(--color-btn);
    font-family: var(--font-opensans-sm);
}

.submitButton {
    width: 100%;
    padding: 14px;
    background: var(--color-btn);
    color: var(--color-white);
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.2s;
    margin-top: 25px;
    font-family: var(--font-opensans-sm);
}

.codeHeader {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-black);
    margin-top: 15px;
}

.codeHint {
    font-size: 14px;
    color: var(--color-text-desc);
    margin-bottom: 25px;
}

.codeInputs {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 10px;
}

.codeInput {
    width: 15%;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid var(--border-support);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: var(--font-opensans-r);
    &:focus {
        border-color: var(--color-btn);
        outline: none;
    }
}
