.card {
    position: relative;
    border: 1px solid var(--border-category);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: var(--font-opensans-r);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

.favorite_btn {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: var(--color-white);
    border: 1px solid var(--border-category);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;
    transition: background-color 0.2s ease, transform 0.2s ease;

    &:hover {
        background-color: var(--color-bg-secondary);
        transform: scale(1.05);
    }
}

.image_wrap {
    width: 100%;
    height: 322px;
    background-color: var(--color-card-bg);
    display: flex;
    justify-content: center;
    align-items: center;

    .image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
}

.content {
    padding: 15px 15px 20px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.category {
    font-size: 12px;
    color: var(--text-gray);
    margin-bottom: 5px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 0 10px;
}

.price {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-orange-sum);
    margin-top: auto; // Прижимает цену к низу
    margin-bottom: 15px;
}

.addToCart_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-btn);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--font-opensans-m);

    &:hover {
        background-color: darken(#f15027, 10%);
    }
}
