.card {
    position: relative;
    border: 1px solid var(--border-category);
    border-radius: 8px;
    overflow: hidden;
    background-color: var(--color-white);
    display: flex;
    flex-direction: column;
    font-family: var(--font-opensans-r);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
}

.favorite_btn {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--color-white);
    border: 1px solid var(--border-category);
    border-radius: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 10;

    &:hover {
        background-color: var(--color-bg-secondary);
        transform: scale(1.1);
    }
}

.image_wrap {
    width: 100%;
    padding-top: 75%; // Соотношение 4:3 для картинки
    position: relative;
    background-color: var(--color-card-bg);

    .image {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
    }
}

.content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.category {
    font-size: 12px;
    color: var(--text-gray);
    margin-bottom: 5px;
}

.title {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-black);
    margin: 0 0 10px;
    line-height: 1.2;
    min-height: 40px;
}

.price {
    font-size: 18px;
    font-weight: 600;
    color: var(--color-orange-sum);
    margin-bottom: 10px;
}

.addToCart_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    background-color: var(--color-btn);
    color: var(--color-white);
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-family: var(--font-opensans-m);

    &:hover {
        background-color: darken(#f15027, 10%);
    }
}
