.wrapper {
    background: linear-gradient(90deg, rgba(248, 112, 23, 0.15) 0%, #eaeaea 50%, #2c313a4d 100%);
    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        padding: 80px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon_wrap {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #f150271a;
            border-radius: 50%;
            width: 64px;
            height: 64px;
        }

        .title {
            text-align: center;
            font-size: 55px;
            color: var(--color-black);
            font-weight: 600;
            margin-bottom: 24px;
        }

        .sub_title {
            text-align: center;
            color: #7d7280;
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
        }
    }
}

.content {
    max-width: var(--container-width);
    margin: 0 auto;
}
