.page {
    background-color: var(--color-white);
    padding: 30px 0 60px; /* Увеличим отступы */
}

.container {
    // max-width: 1300px;
    width: var(--container-width);
    margin: 0 auto;
}

.backLink {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    color: var(--color-text-desc);
    font: var(--font-S);
    text-decoration: none;
    margin-bottom: 30px;
    font-size: 16px;
}

.mainContent {
    display: flex;
    gap: 50px; /* Увеличим расстояние между блоками */
}

/* --- Секция изображений --- */
.imageSection {
    flex: 0 0 666px;
    max-width: 666px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.mainImagePlaceholder {
    width: 100%;
    /* Отношение сторон 1:1, как в макете */
    height: 500px;
    background-color: var(--color-card-bg);
    border-radius: 8px; /* Добавим скругление */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Для будущих изображений */
}

.mainImagePlaceholder::before {
    content: "Фото товара"; /* Более явная заглушка */
    color: var(--text-gray);
    font-size: 20px;
}

.thumbnails {
    display: flex;
    gap: 15px;
}

.thumbnailPlaceholder {
    width: 210px;
    height: 210px;
    background-color: var(--color-card-bg);
    border-radius: 4px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border-color 0.2s;
}

.thumbnailPlaceholder:hover {
    border-color: var(--border-support);
}

/* --- Секция информации о продукте --- */
.infoSection {
    flex-grow: 1;
    padding-top: 10px; /* Выравнивание по верхнему краю блока с фото */
}

.badge {
    display: inline-block;
    background-color: var(--color-text-btn-orange); /* Фон из макета - полупрозрачный серый */
    color: var(--color-white);
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 8px; /* Скругленные края */
    margin-bottom: 15px;
    font-family: var(--font-opensans-m);
}

.productTitle {
    font-size: 38px; /* Большой заголовок */
    font-family: var(--font-muller-b);
    color: var(--color-black);
    margin-bottom: 5px;
    line-height: 1.2;
}

.location {
    font-size: 18px;
    color: var(--color-text-desc);
    margin-bottom: 25px;
    font-family: var(--font-opensans-r);
}

.priceBlock {
    display: flex;
    align-items: baseline;
    gap: 15px;
    margin-bottom: 15px;
}

.currentPrice {
    font-size: 44px; /* Самая большая цена */
    font-family: var(--font-number);
    font-weight: 700;
    color: var(--color-btn); /* Цвет оранжевый, как в макете */
}

.oldPrice {
    font-size: 22px;
    color: var(--color-text-desc);
    text-decoration: line-through;
    font-family: var(--font-number);
}

.discount {
    color: #16a34a;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 30px;
    font-family: var(--font-opensans-sm);
}

.tabs {
    display: flex;
    margin-bottom: 25px;
    background: var(--color-bg-secondary);
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
}

.tab {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    color: var(--color-black);
    font-family: var(--font-opensans-sm);
    margin-bottom: -1px;
    transition: color 0.2s;
    text-align: center;
    width: 100%;
    margin: 7px;
    border-radius: 8px;
}

.tab.active {
    border-bottom-color: var(--color-btn);
    color: var(--color-black);
    background: var(--color-white);
}

.tab:hover:not(.active) {
    color: var(--color-text-desc);
}

.tabContent {
    font: var(--font-S);
    color: var(--color-black);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    line-height: 1.6;
    padding: 15px;
    border-radius: 12px;
    border: 1px solid var(--border-support);
    min-height: 150px;
}

.productDescription {
    color: var(--color-text-desc);
}

.specList {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.specItem {
    padding: 8px 0;
    border-bottom: 1px dashed var(--border-support);
    display: flex;
    justify-content: space-between;
    font-family: var(--font-opensans-r);
    color: var(--color-text-desc);
}

.specLabel {
    font-family: var(--font-opensans-sm);
    color: var(--color-black);
}

/* --- Управление количеством и кнопка --- */
.actionBlock {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-top: 30px; /* Отступ от контента вкладок */
    margin-bottom: 30px;
}

.quantityControl {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-support);
    border-radius: 12px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.qtyButton {
    background: transparent;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    color: var(--color-black);
    // line-height: 1;
    font-weight: 700;
    transition: background-color 0.1s;
}

// .qtyButton:hover {
//     background-color: var(--color-bg-secondary);
// }

.qtyInput {
    width: 50px;
    height: 44px;
    text-align: center;
    border: none;
    font-weight: 700;
    outline: none;
    font-size: 18px;
    font-family: var(--font-number);
    color: var(--color-black);
    background: transparent;
}

.addButton {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    padding: 12px 30px;
    background-color: var(--color-btn);
    color: var(--color-white);
    border: none;
    border-radius: 12px;
    font-size: 18px;
    font-family: var(--font-opensans-sm);
    cursor: pointer;
    transition: background-color 0.2s;
    flex-grow: 1;
    max-width: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.addButton:hover {
    background-color: darken(#f15027, 5%);
}

.heartButton {
    background: var(--color-white);
    border: 2px solid var(--color-text-btn-orange);
    border-radius: 12px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.2s, color 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.btn_heart {
    color: var(--color-text-btn-orange);
    font-size: 18px;
}

.deliveryInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 16px;
    color: var(--color-black);
    font-family: var(--font-opensans-r);
}

.deliveryInfo span {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* Иконки с оранжевым акцентом */
.deliveryInfo span::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23f15027" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"/></svg>');
    line-height: 1;
}

.deliveryInfo span:first-child::before {
    content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="%23f15027" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="1" y="3" width="15" height="13"/><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"/><circle cx="5.5" cy="18.5" r="2.5"/><circle cx="18.5" cy="18.5" r="2.5"/></svg>');
}

.same_tovar {
    max-width: var(--container-width);
    margin: 0 auto;
    margin-top: 100px;

    .title_cards {
        font-size: 24px;
        color: var(--color-black);
        font-weight: 400;
    }
}

.cards_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(330px, 1fr));
    gap: 25px;
    padding: 10px;
    padding-top: 32px;
    padding-bottom: 50px;
}
