/* --- SKELETON --- */
.skeleton {
    animation: skeleton-loading 1.2s infinite linear;
}

@keyframes skeleton-loading {
    0% {
        background-color: #eaeaea;
    }
    100% {
        background-color: #dcdcdc;
    }
}

.skeletonTitle {
    width: 200px;
    height: 28px;
    border-radius: 6px;
    margin-bottom: 30px;
}

.skeletonGroup {
    margin-bottom: 25px;
}

.skeletonLabel {
    width: 90px;
    height: 16px;
    border-radius: 4px;
    margin-bottom: 8px;
}

.skeletonInput {
    width: 100%;
    height: 42px;
    border-radius: 8px;
}

.skeletonButton {
    width: 230px;
    height: 45px;
    border-radius: 10px;
    margin-top: 15px;
}
