.wrapper {
    background-image: linear-gradient(to right, rgba(44, 49, 58, 0.95), rgba(44, 49, 58, 0.7)),
        url("@/shared/assets/images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-top: 200px;

    @media (max-width: 1024px) {
        height: auto;
        padding-bottom: 100px;
        text-align: center;
        margin-top: 120px;
    }
    @media (max-width: 768px) {
        height: auto;
        padding-bottom: 40px;
        text-align: center;
    }

    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        color: var(--color-white);
        padding-top: 126px;


         @media (max-width: 1024px) {
            padding-top: 80px;
        }

        @media (max-width: 768px) {
            padding-top: 60px;
        }

        .title {
            font-weight: 700;
            font-size: 55px;
            line-height: 60px;
            margin-bottom: 24px;


            @media (max-width: 768px) {
                font-size: 40px;
                line-height: 38px;
            }
        }

        .subtitle {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 60px;



            @media (max-width: 768px) {
                font-size: 18px;
                line-height: 22px;
                // margin-bottom: 30px;
                max-width: 350px;
                margin: 0 auto;
            }
            @media (max-width: 490px) {
                font-size: 16px;
                line-height: 22px;
                // margin-bottom: 30px;
                max-width: 350px;
                margin: 0 auto;
            }
        }

        .btns_wrap {
            display: flex;
            align-items: center;
            gap: 25px;

         

            @media (max-width: 490px) {
                flex-direction: column;
                align-items: center;
                padding-top: 40px;
                text-align: center;
                justify-content: center;
            }


            .catalog_btn {
                padding: 15px 30px;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--font-opensans-sm);
                border: none;
                outline: none;
                display: flex;
                gap: 5px;
                align-items: center;
                background: var(--color-btn);
                // background: none;
                color: var(--color-white);
                border-radius: 8px;

                .arrow_icon {
                    font-size: 20px;
                }


                @media (max-width: 768px) {
                    // width: 0%;
                    max-width: 300px;
                    // margin: 0 auto;
                    text-align: center;
                    display: flex;
                    gap: 5px;
                    align-items: center;
                }

            }


            .feedback_btn {
                padding: 15px 30px;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--font-opensans-sm);
                border-radius: 8px;
                background: none;
                border: solid 1px var(--color-white);
                color: var(--color-white);
                transition: 0.4s all;

                &:hover {
                    background: var(--color-btn);
                }


                @media (max-width: 768px) {
                    // width: 50%;
                    max-width: 300px;
                }
            }
        }
    }
}

.cards_wrap {
    height: 224px;
    background: var(--color-bg-secondary);

    @media (max-width: 1024px) {
        height: 500px;
        padding: 10px;
    }

    
    .cards {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
        gap: 10px;
        max-width: var(--container-width);
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // gap: 10px;


         @media (max-width: 1024px) {
                 display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: center;
            }

            // @media (max-width: 768px) {
            //     display: flex;
            //     flex-wrap: wrap;
            //     align-items: center;
            //     justify-content: center;
            // }

            // @media (max-width: 480px) {
            //     grid-template-columns: 1fr 1fr; 
            //     gap: 8px;
            // }

            // @media (max-width: 360px) {
            //     grid-template-columns: 1fr 1fr;
            // }

        .card {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            padding: 25px;
            border-radius: 8px;
            background: var(--color-white);
            width: 530px;
            height: 126px;
            border: 1px solid var(--border-support);
            display: flex;
            align-items: center;
            gap: 16px;

            @media (max-width: 480px) {
                padding: 18px;
            }

            .card_img_wrap {
                background: #f970151a;
                padding: 12px;
                border-radius: 12px;
            }

            .card_desc {
                .card_title {
                    color: var(--color-black);
                    font-weight: 400;
                    margin-bottom: 12px;


                     @media (max-width: 480px) {
                        font-size: 16px;
                    }
                }

                .card_desc_p {
                    font-size: 14px;
                    color: var(--text-gray);
                }
            }
        }
    }
}
