.wrapper {
    background-image: linear-gradient(to right, rgba(44, 49, 58, 0.95), rgba(44, 49, 58, 0.7)),
        url("@/shared/assets/images/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 600px;
    margin-top: 20px;

    .container {
        max-width: var(--container-width);
        margin: 0 auto;
        color: var(--color-white);
        padding-top: 126px;

        .title {
            font-weight: 700;
            font-size: 55px;
            line-height: 60px;
            margin-bottom: 24px;
        }

        .subtitle {
            font-size: 18px;
            font-weight: 400;
            line-height: 28px;
            margin-bottom: 60px;
        }

        .btns_wrap {
            display: flex;
            align-items: center;
            gap: 25px;

            .catalog_btn {
                padding: 15px 30px;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--font-opensans-sm);
                border: none;
                outline: none;
                display: flex;
                gap: 5px;
                align-items: center;
                background: var(--color-btn);
                // background: none;
                color: var(--color-white);
                border-radius: 8px;

                .arrow_icon {
                    font-size: 20px;
                }
            }
            .feedback_btn {
                padding: 15px 30px;
                font-size: 16px;
                font-weight: 600;
                font-family: var(--font-opensans-sm);
                border-radius: 8px;
                background: none;
                border: solid 1px var(--color-white);
                color: var(--color-white);
                transition: 0.4s all;

                &:hover {
                    background: var(--color-btn);
                }
            }
        }
    }
}

.cards_wrap {
    height: 224px;
    background: var(--color-bg-secondary);
    .cards {
        max-width: var(--container-width);
        margin: 0 auto;
        padding-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // justify-content: center;

        .card {
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
            padding: 25px;
            border-radius: 8px;
            background: var(--color-white);
            width: 530px;
            height: 126px;
            border: 1px solid var(--border-support);
            display: flex;
            align-items: center;
            gap: 16px;

            .card_img_wrap {
                background: #f970151a;
                padding: 12px;
                border-radius: 12px;
            }

            .card_desc {
                .card_title {
                    color: var(--color-black);
                    font-weight: 400;
                    margin-bottom: 12px;
                }

                .card_desc_p {
                    font-size: 14px;
                    color: var(--text-gray);
                }
            }
        }
    }
}
